<!DOCTYPE html>
<html lang="en" ng-app="pets">
  <head>
    <title>Petz.com</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
    <script src="app.js"></script>
    <script src="js/PetController.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="container" ng-controller="PetControl">
      <h1>Petz.com
      <small>
        <br>
        Ask how you can be a inve$tor!
      </small>
      </h1>
      <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
              <form ng-submit="calculatePrice()" role="form">
                <input type="number" class="form-control" ng-model="desiredAmount" placeholder="HOW MUCH PETS DO YOU NEED?!">

                <select ng-model="myColor" ng-options="color.name for color in colors"></select>
                <select ng-model="myShape" ng-options="shape.name for shape in shapes"></select>
                <select ng-model="mySize" ng-options="size.name for size in sizes"></select>
                <input type="checkbox" ng-model="shipping1">Fast shipping
                <input type="checkbox" ng-model="shipping2">Slow shipping
                <button type="submit" class="btn btn-danger" ng-click="myStyle={color: myColor.name}">PETZ!</button>
              </form>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" ng-show="totalCost">
          <h2>Total Cost</h2>
            ${{totalCost}}.00 (shipping not included)
            <br>
            <span ng-show="myColor" ng-style="myStyle">{{myColor.name}}</span>
            <br>
            <span ng-show="myShape">{{myShape.name}}</span>
            <br>
            <span ng-show="mySize">{{mySize.name}}</span>
            <br>
            <span ng-show="shipping1">You chose fast shipping.</span>
            <br>
            <span ng-show="shipping2">Slowest shipping. They will basically get to your house eventually.</span>
            <br>
        </div>
      </div>
    </div>
  </body>
</html>
